extends includes/layout.pug

block content
  #recent-posts.recent-posts
    include includes/recent-posts.pug  
    include includes/pagination.pug
  #aside_content.aside_content
    include includes/aside.pug
    if theme.aplayer.enable
      include includes/aplayer.pug
