.cg
  .pic-cards
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width : 100%;

    .cg-img
      width: 220px;
      height: auto;
      background: white;
      outline: none;
      overflow: hidden;
      margin: 10px 5px;  
      border-radius: 10px; 
      position: relative;
      transition: 0.5s;


      a
        position: relative;

      img
        width: 100%;
        height: auto;
        max-height: 400px;
        border-radius: 10px; 
        overflow: hidden;
        object-fit: cover;
        flex-grow: 0;

    .cg-img:hover
      transform: translate(0,-10px);

@media screen and (max-width:1200px)
  .cg 
    .pic-cards
      .cg-img
        width: 200px;

@media screen and (max-width:1000px)
  .cg 
    .pic-cards
      .cg-img
        width: 250px;

@media screen and (max-width:900px)
  .cg
    width: 100% !important;
    .pic-cards
      .cg-img
        width: 100%;

